<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.sales.mapper.ChannelSalesDataVisualMapper">
    <!-- 核心KPI数据查询 -->
    <select id="selectKpiData" resultType="java.util.Map">
        SELECT
        SUM(revenue_rmb) as totalRevenue,
        SUM(order_gross_profit) as totalGrossProfit,
        SUM(order_net_profit) as totalNetProfit,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_gross_profit) / SUM(revenue_rmb)
        END as grossProfitRate,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(revenue_rmb)
        END as netProfitRate,
        CASE
        WHEN SUM(product_cost + first_mile_shipping) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(product_cost + first_mile_shipping)
        END as avgRoi
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
    </select>
    <!-- 品类退款率数据查询 -->
    <select id="selectCategoryRefundData" resultType="java.util.Map">
        SELECT
        category,
        SUM(revenue_rmb) as revenue,
        SUM(refund) as refundAmount,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(refund) / SUM(revenue_rmb)
        END as refundRate
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY category
        ORDER BY revenue DESC
    </select>
    <!-- SKU ROI数据查询 -->
    <select id="selectSkuRoiData" resultType="java.util.Map">
        SELECT
        tongtu_sku as tongtuSku,
        product_name as productName,
        SUM(shipping_quantity) as shippingQuantity,
        SUM(product_cost) as productCost,
        SUM(first_mile_shipping) as firstMileShipping,
        SUM(order_net_profit) as orderNetProfit,
        CASE
        WHEN SUM(product_cost + first_mile_shipping) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(product_cost + first_mile_shipping)
        END as roi,
        AVG(days_to_positive_cash_flow) as daysToPositiveCashFlow
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY tongtu_sku, product_name
        HAVING SUM(shipping_quantity) > 0
        ORDER BY orderNetProfit DESC
    </select>
    <!-- 一级品类数据查询 -->
    <select id="selectFirstLevelCategoryData" resultType="java.util.Map">
        SELECT
        first_level_category as firstLevelCategory,
        SUM(revenue_rmb) as revenue,
        SUM(order_gross_profit) as orderGrossProfit,
        SUM(order_net_profit) as orderNetProfit,
        CASE
        WHEN SUM(product_cost + first_mile_shipping) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(product_cost + first_mile_shipping)
        END as roi,
        AVG(days_to_positive_cash_flow) as daysToPositiveCashFlow
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY first_level_category
        ORDER BY revenue DESC
    </select>
    <!-- 渠道数据查询 -->
    <select id="selectChannelData" resultType="java.util.Map">
        SELECT
        channel,
        SUM(revenue_rmb) as revenue,
        SUM(order_gross_profit) as orderGrossProfit,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_gross_profit) / SUM(revenue_rmb)
        END as grossProfitRate,
        SUM(order_net_profit) as orderNetProfit,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(revenue_rmb)
        END as netProfitRate,
        CASE
        WHEN SUM(product_cost + first_mile_shipping) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(product_cost + first_mile_shipping)
        END as roi,
        AVG(days_to_positive_cash_flow) as daysToPositiveCashFlow
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY channel
        ORDER BY revenue DESC
    </select>
    <!-- 品牌数据查询 -->
    <select id="selectBrandData" resultType="java.util.Map">
        SELECT
        brand,
        SUM(revenue_rmb) as revenue,
        SUM(order_gross_profit) as orderGrossProfit,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_gross_profit) / SUM(revenue_rmb)
        END as grossProfitRate,
        SUM(order_net_profit) as orderNetProfit,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(revenue_rmb)
        END as netProfitRate,
        CASE
        WHEN SUM(product_cost + first_mile_shipping) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(product_cost + first_mile_shipping)
        END as roi,
        AVG(days_to_positive_cash_flow) as daysToPositiveCashFlow
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY brand
        HAVING brand IS NOT NULL AND brand != ''
        ORDER BY revenue DESC
    </select>
    <!-- 国家数据查询 -->
    <select id="selectCountryData" resultType="java.util.Map">
        SELECT
        country,
        SUM(revenue_rmb) as revenue,
        SUM(order_gross_profit) as orderGrossProfit,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_gross_profit) / SUM(revenue_rmb)
        END as grossProfitRate,
        SUM(order_net_profit) as orderNetProfit,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(revenue_rmb)
        END as netProfitRate,
        CASE
        WHEN SUM(product_cost + first_mile_shipping) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(product_cost + first_mile_shipping)
        END as roi,
        AVG(days_to_positive_cash_flow) as daysToPositiveCashFlow
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY country
        HAVING country IS NOT NULL AND country != ''
        ORDER BY revenue DESC
    </select>
    <!-- 店铺数据查询 -->
    <select id="selectStoreData" resultType="java.util.Map">
        SELECT
        store_code as storeCode,
        channel_account as channelAccount,
        SUM(revenue_rmb) as revenue,
        SUM(order_gross_profit) as orderGrossProfit,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_gross_profit) / SUM(revenue_rmb)
        END as grossProfitRate,
        SUM(order_net_profit) as orderNetProfit,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(revenue_rmb)
        END as netProfitRate,
        CASE
        WHEN SUM(product_cost + first_mile_shipping) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(product_cost + first_mile_shipping)
        END as roi,
        AVG(days_to_positive_cash_flow) as daysToPositiveCashFlow
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY store_code, channel_account
        HAVING store_code IS NOT NULL AND store_code != ''
        ORDER BY revenue DESC
    </select>
    <!-- 地图数据查询 -->
    <select id="selectMapData" resultType="java.util.Map">
        SELECT
        country,
        SUM(revenue_rmb) as revenue,
        SUM(order_net_profit) as orderNetProfit,
        CASE
        WHEN SUM(product_cost + first_mile_shipping) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(product_cost + first_mile_shipping)
        END as roi,
        AVG(days_to_positive_cash_flow) as daysToPositiveCashFlow
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY country
        HAVING country IS NOT NULL AND country != ''
        ORDER BY revenue DESC
    </select>
    <!-- 渠道销售额占比数据查询 -->
    <select id="selectChannelDistributionData" resultType="java.util.Map">
        SELECT
        channel,
        SUM(revenue_rmb) as revenue,
        ROUND(SUM(revenue_rmb) / (SELECT SUM(revenue_rmb) FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        ) * 100, 2) as percentage
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY channel
        ORDER BY revenue DESC
    </select>
    <!-- 预警数据查询 -->
    <select id="selectAlertData" resultType="java.util.Map">
        (SELECT
        '低ROI' as alertType,
        tongtu_sku as item,
        roi as value
        FROM (
        SELECT
        tongtu_sku,
        CASE
        WHEN SUM(product_cost + first_mile_shipping) = 0 THEN 0
        ELSE SUM(order_net_profit) / SUM(product_cost + first_mile_shipping)
        END as roi
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY tongtu_sku
        HAVING SUM(shipping_quantity) > 10
        ) t
        WHERE roi &lt; 0
        ORDER BY roi ASC
        LIMIT 5)

        UNION ALL

        (SELECT
        '高退款率' as alertType,
        category as item,
        CASE
        WHEN SUM(revenue_rmb) = 0 THEN 0
        ELSE SUM(refund) / SUM(revenue_rmb)
        END as value
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY category
        HAVING SUM(revenue_rmb) > 1000 AND SUM(refund) / SUM(revenue_rmb) > 0.1
        ORDER BY value DESC
        LIMIT 5)
    </select>
    <!-- 趋势数据查询 -->
    <select id="selectTrendData" resultType="java.util.Map">
        SELECT
        DATE(payment_settlement_date) as date,
        SUM(revenue_rmb) as revenue,
        SUM(order_net_profit) as profit
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        GROUP BY DATE(payment_settlement_date)
        ORDER BY date
    </select>
    <!-- 详情数据查询 -->
    <select id="selectDetailData" resultType="java.util.Map">
        SELECT
        tongtu_sku,
        product_name,
        channel,
        revenue_rmb as revenue,
        product_cost,
        first_mile_shipping,
        order_net_profit,
        roi,
        days_to_positive_cash_flow,
        CASE
        WHEN revenue_rmb = 0 THEN 0
        ELSE refund / revenue_rmb
        END as refundRate
        FROM channel_sales_data
        <where>
            <if test="paymentSettlementDate != null and paymentSettlementDate != ''">
                AND payment_settlement_date LIKE CONCAT(#{paymentSettlementDate}, '%')
            </if>
            <if test="category != null and category != ''">
                AND category = #{category}
            </if>
            <if test="firstLevelCategory != null and firstLevelCategory != ''">
                AND first_level_category = #{firstLevelCategory}
            </if>
            <if test="channel != null and channel != ''">
                AND channel = #{channel}
            </if>
            <if test="country != null and country != ''">
                AND country = #{country}
            </if>
        </where>
        ORDER BY revenue_rmb DESC
        LIMIT 100
    </select>
    <!-- 筛选条件选项查询 -->
    <select id="selectFilterOptions" resultType="java.util.Map">
        SELECT
            (SELECT GROUP_CONCAT(DISTINCT payment_settlement_date) FROM channel_sales_data WHERE payment_settlement_date IS NOT NULL) as dates,
            (SELECT GROUP_CONCAT(DISTINCT first_level_category) FROM channel_sales_data WHERE first_level_category IS NOT NULL) as firstLevelCategories,
            (SELECT GROUP_CONCAT(DISTINCT category) FROM channel_sales_data WHERE category IS NOT NULL) as categories,
            (SELECT GROUP_CONCAT(DISTINCT channel) FROM channel_sales_data WHERE channel IS NOT NULL) as channels,
            (SELECT GROUP_CONCAT(DISTINCT country) FROM channel_sales_data WHERE country IS NOT NULL) as countries
    </select>
</mapper>
