<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.purchase.mapper.PurchasePaymentPeriodMapper">

    <resultMap type="PurchasePaymentPeriod" id="PurchasePaymentPeriodResult">
        <result property="id"    column="id"    />
        <result property="purchaseOrderNumber"    column="purchase_order_number"    />
        <result property="purchasePlanNumber"    column="purchase_plan_number"    />
        <result property="account1688"    column="account_1688"    />
        <result property="purchaseWarehouse"    column="purchase_warehouse"    />
        <result property="purchaser"    column="purchaser"    />
        <result property="purchaseDate"    column="purchase_date"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="location"    column="location"    />
        <result property="sku"    column="sku"    />
        <result property="productName"    column="product_name"    />
        <result property="specifications"    column="specifications"    />
        <result property="purchaseUnitPrice"    column="purchase_unit_price"    />
        <result property="purchaseQuantity"    column="purchase_quantity"    />
        <result property="goodsPayment"    column="goods_payment"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="arrivalDate"    column="arrival_date"    />
        <result property="purchaseNotes"    column="purchase_notes"    />
        <result property="paymentPeriodDays"    column="payment_period_days"    />
        <result property="duePaymentDate"    column="due_payment_date"    />
        <result property="purchaseDepartment"    column="purchase_department"    />
        <result property="isPaid"    column="is_paid"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectPurchasePaymentPeriodVo">
        select id, purchase_order_number, purchase_plan_number, account_1688, purchase_warehouse, purchaser, purchase_date, image_url, location, sku, product_name, specifications, purchase_unit_price, purchase_quantity, goods_payment, supplier_name, arrival_date, purchase_notes, payment_period_days, due_payment_date, purchase_department, is_paid, created_at, updated_at, update_by from purchase_payment_period
    </sql>

    <select id="selectPurchasePaymentPeriodList" parameterType="PurchasePaymentPeriod" resultMap="PurchasePaymentPeriodResult">
        <include refid="selectPurchasePaymentPeriodVo"/>
        <where>
            <if test="purchaseOrderNumber != null  and purchaseOrderNumber != ''"> and purchase_order_number = #{purchaseOrderNumber}</if>
            <if test="purchasePlanNumber != null  and purchasePlanNumber != ''"> and purchase_plan_number = #{purchasePlanNumber}</if>
            <if test="account1688 != null  and account1688 != ''"> and account_1688 = #{account1688}</if>
            <if test="purchaseWarehouse != null  and purchaseWarehouse != ''"> and purchase_warehouse = #{purchaseWarehouse}</if>
            <if test="purchaser != null  and purchaser != ''"> and purchaser = #{purchaser}</if>
            <if test="params.beginPurchaseDate != null and params.beginPurchaseDate != '' and params.endPurchaseDate != null and params.endPurchaseDate != ''"> and purchase_date between #{params.beginPurchaseDate} and #{params.endPurchaseDate}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="specifications != null  and specifications != ''"> and specifications = #{specifications}</if>
            <if test="purchaseUnitPrice != null "> and purchase_unit_price = #{purchaseUnitPrice}</if>
            <if test="purchaseQuantity != null "> and purchase_quantity = #{purchaseQuantity}</if>
            <if test="goodsPayment != null "> and goods_payment = #{goodsPayment}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="arrivalDate != null "> and arrival_date = #{arrivalDate}</if>
            <if test="purchaseNotes != null  and purchaseNotes != ''"> and purchase_notes = #{purchaseNotes}</if>
            <if test="paymentPeriodDays != null "> and payment_period_days = #{paymentPeriodDays}</if>
            <if test="params.beginDuePaymentDate != null and params.beginDuePaymentDate != '' and params.endDuePaymentDate != null and params.endDuePaymentDate != ''"> and due_payment_date between #{params.beginDuePaymentDate} and #{params.endDuePaymentDate}</if>
            <if test="purchaseDepartment != null  and purchaseDepartment != ''"> and purchase_department = #{purchaseDepartment}</if>
            <if test="isPaid != null "> and is_paid = #{isPaid}</if>
            <if test="params.beginCreatedAt != null and params.beginCreatedAt != '' and params.endCreatedAt != null and params.endCreatedAt != ''"> and created_at between #{params.beginCreatedAt} and #{params.endCreatedAt}</if>
            <if test="params.beginUpdatedAt != null and params.beginUpdatedAt != '' and params.endUpdatedAt != null and params.endUpdatedAt != ''"> and updated_at between #{params.beginUpdatedAt} and #{params.endUpdatedAt}</if>
        </where>
    </select>

    <select id="selectPurchasePaymentPeriodById" parameterType="Integer" resultMap="PurchasePaymentPeriodResult">
        <include refid="selectPurchasePaymentPeriodVo"/>
        where id = #{id}
    </select>

    <insert id="insertPurchasePaymentPeriod" parameterType="PurchasePaymentPeriod" useGeneratedKeys="true" keyProperty="id">
        insert into purchase_payment_period
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="purchaseOrderNumber != null and purchaseOrderNumber != ''">purchase_order_number,</if>
            <if test="purchasePlanNumber != null and purchasePlanNumber != ''">purchase_plan_number,</if>
            <if test="account1688 != null and account1688 != ''">account_1688,</if>
            <if test="purchaseWarehouse != null and purchaseWarehouse != ''">purchase_warehouse,</if>
            <if test="purchaser != null and purchaser != ''">purchaser,</if>
            <if test="purchaseDate != null">purchase_date,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="sku != null and sku != ''">sku,</if>
            <if test="productName != null and productName != ''">product_name,</if>
            <if test="specifications != null and specifications != ''">specifications,</if>
            <if test="purchaseUnitPrice != null and purchaseUnitPrice != ''">purchase_unit_price,</if>
            <if test="purchaseQuantity != null">purchase_quantity,</if>
            <if test="goodsPayment != null">goods_payment,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="arrivalDate != null">arrival_date,</if>
            <if test="purchaseNotes != null">purchase_notes,</if>
            <if test="paymentPeriodDays != null">payment_period_days,</if>
            <if test="duePaymentDate != null">due_payment_date,</if>
            <if test="purchaseDepartment != null">purchase_department,</if>
            <if test="isPaid != null and isPaid != ''">is_paid,</if>
            <if test="updateBy != null">update_by,</if>
            created_at
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="purchaseOrderNumber != null and purchaseOrderNumber != ''">#{purchaseOrderNumber},</if>
            <if test="purchasePlanNumber != null and purchasePlanNumber != ''">#{purchasePlanNumber},</if>
            <if test="account1688 != null and account1688 != ''">#{account1688},</if>
            <if test="purchaseWarehouse != null and purchaseWarehouse != ''">#{purchaseWarehouse},</if>
            <if test="purchaser != null and purchaser != ''">#{purchaser},</if>
            <if test="purchaseDate != null">#{purchaseDate},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="sku != null and sku != ''">#{sku},</if>
            <if test="productName != null and productName != ''">#{productName},</if>
            <if test="specifications != null and specifications != ''">#{specifications},</if>
            <if test="purchaseUnitPrice != null and purchaseUnitPrice != ''">#{purchaseUnitPrice},</if>
            <if test="purchaseQuantity != null">#{purchaseQuantity},</if>
            <if test="goodsPayment != null">#{goodsPayment},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="arrivalDate != null">#{arrivalDate},</if>
            <if test="purchaseNotes != null">#{purchaseNotes},</if>
            <if test="paymentPeriodDays != null">#{paymentPeriodDays},</if>
            <if test="duePaymentDate != null">#{duePaymentDate},</if>
            <if test="purchaseDepartment != null">#{purchaseDepartment},</if>
            <if test="isPaid != null and isPaid != ''">#{isPaid},</if>
            <if test="updateBy != null">#{updateBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updatePurchasePaymentPeriod" parameterType="PurchasePaymentPeriod">
        update purchase_payment_period
        <trim prefix="SET" suffixOverrides=",">
            <if test="purchaseOrderNumber != null and purchaseOrderNumber != ''">purchase_order_number = #{purchaseOrderNumber},</if>
            <if test="purchasePlanNumber != null">purchase_plan_number = #{purchasePlanNumber},</if>
            <if test="account1688 != null">account_1688 = #{account1688},</if>
            <if test="purchaseWarehouse != null">purchase_warehouse = #{purchaseWarehouse},</if>
            <if test="purchaser != null">purchaser = #{purchaser},</if>
            <if test="purchaseDate != null">purchase_date = #{purchaseDate},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="location != null">location = #{location},</if>
            <if test="sku != null and sku != ''">sku = #{sku},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="specifications != null">specifications = #{specifications},</if>
            <if test="purchaseUnitPrice != null">purchase_unit_price = #{purchaseUnitPrice},</if>
            <if test="purchaseQuantity != null">purchase_quantity = #{purchaseQuantity},</if>
            <if test="goodsPayment != null">goods_payment = #{goodsPayment},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="arrivalDate != null">arrival_date = #{arrivalDate},</if>
            <if test="purchaseNotes != null">purchase_notes = #{purchaseNotes},</if>
            <if test="paymentPeriodDays != null">payment_period_days = #{paymentPeriodDays},</if>
            <if test="duePaymentDate != null">due_payment_date = #{duePaymentDate},</if>
            <if test="purchaseDepartment != null">purchase_department = #{purchaseDepartment},</if>
            <if test="isPaid != null">is_paid = #{isPaid},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            updated_at = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePurchasePaymentPeriodById" parameterType="Integer">
        delete from purchase_payment_period where id = #{id}
    </delete>

    <delete id="deletePurchasePaymentPeriodByIds" parameterType="String">
        delete from purchase_payment_period where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPurchasePaymentPeriodCount" parameterType="PurchasePaymentPeriod" resultType="int">
        select count(*) from purchase_payment_period
        <where>
            <if test="purchaseOrderNumber != null  and purchaseOrderNumber != ''"> and purchase_order_number = #{purchaseOrderNumber}</if>
            <if test="purchasePlanNumber != null  and purchasePlanNumber != ''"> and purchase_plan_number = #{purchasePlanNumber}</if>
            <if test="account1688 != null  and account1688 != ''"> and account_1688 = #{account1688}</if>
            <if test="purchaseWarehouse != null  and purchaseWarehouse != ''"> and purchase_warehouse = #{purchaseWarehouse}</if>
            <if test="purchaser != null  and purchaser != ''"> and purchaser = #{purchaser}</if>
            <if test="params.beginPurchaseDate != null and params.beginPurchaseDate != '' and params.endPurchaseDate != null and params.endPurchaseDate != ''"> and purchase_date between #{params.beginPurchaseDate} and #{params.endPurchaseDate}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="specifications != null  and specifications != ''"> and specifications = #{specifications}</if>
            <if test="purchaseUnitPrice != null "> and purchase_unit_price = #{purchaseUnitPrice}</if>
            <if test="purchaseQuantity != null "> and purchase_quantity = #{purchaseQuantity}</if>
            <if test="goodsPayment != null "> and goods_payment = #{goodsPayment}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="arrivalDate != null "> and arrival_date = #{arrivalDate}</if>
            <if test="purchaseNotes != null  and purchaseNotes != ''"> and purchase_notes = #{purchaseNotes}</if>
            <if test="paymentPeriodDays != null "> and payment_period_days = #{paymentPeriodDays}</if>
            <if test="params.beginDuePaymentDate != null and params.beginDuePaymentDate != '' and params.endDuePaymentDate != null and params.endDuePaymentDate != ''"> and due_payment_date between #{params.beginDuePaymentDate} and #{params.endDuePaymentDate}</if>
            <if test="purchaseDepartment != null  and purchaseDepartment != ''"> and purchase_department = #{purchaseDepartment}</if>
            <if test="isPaid != null "> and is_paid = #{isPaid}</if>
            <if test="params.beginCreatedAt != null and params.beginCreatedAt != '' and params.endCreatedAt != null and params.endCreatedAt != ''"> and created_at between #{params.beginCreatedAt} and #{params.endCreatedAt}</if>
            <if test="params.beginUpdatedAt != null and params.beginUpdatedAt != '' and params.endUpdatedAt != null and params.endUpdatedAt != ''"> and updated_at between #{params.beginUpdatedAt} and #{params.endUpdatedAt}</if>
        </where>
    </select>

    <select id="selectPurchasePaymentPeriodCountUnknown" parameterType="PurchasePaymentPeriod" resultType="int">
        select count(*) from purchase_payment_period
        <where>
            (is_paid is null or is_paid = '')
            <if test="purchaseOrderNumber != null  and purchaseOrderNumber != ''"> and purchase_order_number = #{purchaseOrderNumber}</if>
            <if test="purchasePlanNumber != null  and purchasePlanNumber != ''"> and purchase_plan_number = #{purchasePlanNumber}</if>
            <if test="account1688 != null  and account1688 != ''"> and account_1688 = #{account1688}</if>
            <if test="purchaseWarehouse != null  and purchaseWarehouse != ''"> and purchase_warehouse = #{purchaseWarehouse}</if>
            <if test="purchaser != null  and purchaser != ''"> and purchaser = #{purchaser}</if>
            <if test="params.beginPurchaseDate != null and params.beginPurchaseDate != '' and params.endPurchaseDate != null and params.endPurchaseDate != ''"> and purchase_date between #{params.beginPurchaseDate} and #{params.endPurchaseDate}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="sku != null  and sku != ''"> and sku = #{sku}</if>
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="specifications != null  and specifications != ''"> and specifications = #{specifications}</if>
            <if test="purchaseUnitPrice != null "> and purchase_unit_price = #{purchaseUnitPrice}</if>
            <if test="purchaseQuantity != null "> and purchase_quantity = #{purchaseQuantity}</if>
            <if test="goodsPayment != null "> and goods_payment = #{goodsPayment}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="arrivalDate != null "> and arrival_date = #{arrivalDate}</if>
            <if test="purchaseNotes != null  and purchaseNotes != ''"> and purchase_notes = #{purchaseNotes}</if>
            <if test="paymentPeriodDays != null "> and payment_period_days = #{paymentPeriodDays}</if>
            <if test="params.beginDuePaymentDate != null and params.beginDuePaymentDate != '' and params.endDuePaymentDate != null and params.endDuePaymentDate != ''"> and due_payment_date between #{params.beginDuePaymentDate} and #{params.endDuePaymentDate}</if>
            <if test="purchaseDepartment != null  and purchaseDepartment != ''"> and purchase_department = #{purchaseDepartment}</if>
            <if test="params.beginCreatedAt != null and params.beginCreatedAt != '' and params.endCreatedAt != null and params.endCreatedAt != ''"> and created_at between #{params.beginCreatedAt} and #{params.endCreatedAt}</if>
            <if test="params.beginUpdatedAt != null and params.beginUpdatedAt != '' and params.endUpdatedAt != null and params.endUpdatedAt != ''"> and updated_at between #{params.beginUpdatedAt} and #{params.endUpdatedAt}</if>
        </where>
    </select>
</mapper>
